{
	"semi": true,
	"printWidth": 80,
	"useTabs": true,
	"tabWidth": 2,
	"trailingComma": "none",
	"singleQuote": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"vueIndentScriptAndStyle": false
}
